body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f9ff;
  padding-top: 100px;
}

#main-title-container {
  padding-bottom: 50px;
}

#main-title {
  font-family: 'Yellowtail', cursive;
  font-size: 6rem;
  font-weight: 400;
  color: #28353d;
}

#nav {
  background-color: #28353d;
}

#phil {
  color: #f5f9ff;
  padding-right: 10px;
}

.nav-item {
  color: #457b9d;
  font-size: 1.2rem;
}

.nav-item:hover {
  color: #28353d;
}

span .navbar-toggler-icon {
  color: black;
}

#main-text p {
  color: #28353d;
  font-weight: 100;
  font-size: 1.6rem;
  margin-bottom: 1.3rem;
}

#main-text p span {
  font-family: 'Yellowtail', cursive;
  font-size: 1.8rem;
}

#main-text p #zot1{
  color: #0064A4;
}

#main-text p #zot2{
  color: #FFD200;
}

#profile-pic {
  border-radius: 50%;
}

@media (max-width: 960px) {
  #main-title {
    font-size: 4rem;
  }

  #profile-pic-container {
    text-align:center;
  }

  #main-text p {
    font-size: 1.4rem;
  }
}

@media (max-width: 764px) {
  #main-title-container {
    padding-bottom: 25px;
  }

  #profile-pic-container {
    padding-bottom: 25px;
    align-self: center;
  }

  #home-row {
    align-items: flex-start;
  }
}

@media (max-width: 500px) {
  #main-title {
    display: none;
  }

  #profile-pic {
    max-width: 90%;
    max-height: 90%;
  }
}